.report-nav {
  width: 245px;
  height: 47px;
  margin-bottom: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.report-nav-label {
  padding-left: 80px;
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  color: rgba(83, 83, 95, 1);
  padding-top: 15px;
  user-select: none;
}