certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.3.1
Flask==1.1.2
Flask-Cors==3.0.9
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pdfminer.six==20201018
Pillow==8.0.1
pycparser==2.20
PyPDF2==1.26.0
requests==2.25.1
six==1.15.0
sortedcontainers==2.3.0
urllib3==1.26.2
Werkzeug==1.0.1
