.nav {
  position: relative;
  width: 90%;
  margin: 0px auto;
  height: 50px;
  margin-top: 20px;
  display: flex;
  padding-top: 5px;
}

.nav-icon {
  position: absolute;
  width: 50px;
  top: 5px;
}

.nav-title {
  padding-left: 59px;
  font-size: 27px;
  margin-top: 0px;
}

.nav-email-signup-wrapper {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-form-container {
  display: flex;
  align-items: center;
}

.nav-email-input {
  margin-right: 10px;
  height: 34px;
  width: 240px;
  border: none;
  background: rgba(241, 245, 248, 1);
  border-radius: 4px;
  outline: none;
  padding-left: 13px;
  font-size: 14px;
}

.nav-email-btn {
  background: #FFDB2A;
  border-radius: 4px;
  color: #182C45;
  height: 36px;
  width: 170px;
  font-size: 15px;
  border: none;
  padding-bottom: 3px;
  font-family: Karla;
  font-weight: 700;
  transition-duration: 0.3s;
  outline: none;
}

.nav-email-btn:hover {
  box-shadow: 3px 3px 2px #aaaaaa;
}