.footer-container {

  bottom: 0px;
  background: rgba(0, 118, 241, 1);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
}

.footer-socials-wrapper {
  margin-left: 50px;
}

.footer-socials-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.footer-social-btn {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  position: relative;
}

.footer-social-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}