.footer-container {
  bottom: 0px;
  background: #FAF7F1;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  
}

.footer-content {
  margin: 0px auto;
  width: 900px;
  display: flex;
  position: relative;
}

.footer-text-col {
  width: 60%;
}

.footer-img-col {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-family: Inter;
  margin-bottom: 10px;
  margin-top: 0px;
}

.footer-icon {
  width: 50%;
  max-width: 300px;
}

.maker-link {
  text-decoration: underline;
  color: black;
}