.parse-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  font-family: Inter;
}

.parse-table-td, .parse-table-th {
  padding: 10px;
}

tbody tr:nth-child(even) {
  background-color: #f2f3fa;
}

.parse-table-ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.indented-li {
  margin-left: 20px;
}

.school-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 700;
  margin-top: 0px;
}