.parse-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .15);
}

.parse-table, .parse-table-th, .parse-table-td {
  border: 1px solid rgba(0, 0, 0, .1);
}

.parse-table-td, .parse-table-th {
  padding: 10px;
}

.parse-table-ul {
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.indented-li {
  margin-left: 20px;
}

.school-title {
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 700;
  margin-top: 0px;
}