.container {
  display: flex;
  flex-direction: column;
}

.dzu-dropzone {
  border-color: rgb(196, 196, 180);
  border-style: dashed;
  border-radius: 12px;
  height: 340px;
  max-width: 90%;
  background-color: #fbf3d4;
  overflow: hidden;
  font-family: Inter;
}

.dropzone-input {
  margin-top: 22px;
}

.dropzone-img {
  margin: 0px auto;
  display: block;
  width: 120px;
  cursor: pointer;
}

.dropzone-input-text {
  margin-top: 30px;
  color: rgba(75, 77, 81, 1);
  text-align: center;
}

.opt-in-link {
  color: black;
  text-decoration: underline;
}

.opt-in-text {
  font-family: Inter;
  max-width: 80%;
}

.opt-in-container {
  margin: 0px auto;
  font-family: Inter;
  color: rgba(75, 77, 81, 1);
  margin-top: 20px;
  width: 360px;
  max-width: 90%;
}

.dropzone-btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropzone-submit-btn {
  margin-top: 20px;
}

.dropzone-disclaimer {
  text-align: center;
  font-size: 14px;
  width: 400px;
  margin: 0px auto;
  margin-top: 35px;
  max-width: 80%;
}

.dropzone-agreement {
  text-align: center;
  margin: 0px auto;
  color: rgba(75, 77, 81, 1);
  font-size: 13px;
  margin-top: 20px;
  max-width: 80%;
}

@media only screen and (max-width: 600px) {
  .opt-in-text {
    font-size: 13px;
    height: 320px;
  }
  .opt-in-container {
    width: 300px;
  }
  .dzu-dropzone {
    height: 400px;
  }
}