.report-nav {
  width: 245px;
  height: 55px;
  margin-bottom: 25px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  transition-duration: 0.3s;
}

.report-nav:hover {
  background-color: rgba(241, 241, 244, 0.7);
}

.report-nav-label {
  padding-left: 80px;
  font-family: Inter;
  font-weight: 600;
  font-size: 15px;
  color: rgba(83, 83, 95, 1);
  padding-top: 20px;
  user-select: none;
}

.report-nav-icon {
  position: absolute;
  width: 30px;
  top: 13px;
  left: 23px;
}