.graph-container {
  position: relative;
}

.graph-background-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.graph-arc {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  border: 8px solid;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.graph-score {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  font-size: 55px;
  line-height: 0px;
  margin: 0px auto;
  padding: 0px;
  font-family: Inter;
}