.report-container {
  width: 85%;
  margin: 0px auto;
  margin-top: 90px;
}

.report-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 27px;
}

.report-subtitle {
  color: rgba(158, 157, 173, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 5px;
  font-size: 16px;
}

.report-summary-container {
  border: 1px solid #DCDCDC;
  width: 100%;
  min-height: 60px;
  background-color: #FCFCFD;
  display: flex;
  position: relative;
  
}

.report-graph-wrapper {
  height: 100%;
  width: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.report-label {
  min-width: 100px;
  height: 35px;
  background-color: #F7E8D2;
  color: #F2A73B;
  border-radius: 30px;
  display: block;
  margin: 0px auto;
}

.report-label-text {
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

