.report-container {
  width: 100%;
  margin: 0px auto;
  min-width: 700px;
}

.report-title-container {
  width: 85%;
  display: block;
  margin: 0px auto;
}

.report-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 27px;
}

.report-subtitle {
  color: rgba(158, 157, 173, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 5px;
  font-size: 16px;
}

.summary-wrapper {
  background: linear-gradient(274.7deg, #FFF7E7 14.32%, #FFF9EC 97.17%);
  width: 100%;
  padding-bottom: 40px;
  padding-top: 90px;
}

.report-summary-container {
  border: 1px solid #DCDCDC;
  width: 85%;
  min-height: 60px;
  position: relative;
  border-radius: 17px;
  /* flex-grow: 2; */
  background-color: white;
  margin: 0px auto;
  display: block;
}

.report-summary-content {
  width: 90%;
  margin: 0px auto;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  vertical-align: top;
  padding-top: 20px;
}

.report-summary-text-container {
  margin-left: 10%;
}

.report-summary-title {
  font-family: Inter;
  font-weight: 400;
  margin-bottom: 15px;
}

.report-summary-subtitle {
  font-family: Inter;
  font-weight: 600;
  color: rgb(92, 92, 92);
  font-size: 15px;
  margin-bottom: 15px;
}

.report-summary-description {
  color: rgb(92, 92, 92);
  font-size: 15px;
  font-family: Inter;
}

.report-summary-hr {
  border: 1px solid rgb(227, 227, 227);
}

.report-graph-wrapper {
  height: 100%;
  width: 200px;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 20px;
  background-color: white;
  border-radius: 17px;
  padding-right: 45px;
  padding-left: 45px;
  margin-bottom: 25px;
}

.report-label {
  min-width: 100px;
  height: 35px;
  background-color: #F7E8D2;
  color: #F2A73B;
  border-radius: 30px;
  display: block;
  margin: 0px auto;
  margin-top: 30px;
}

.report-label-text {
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (max-width: 641px) {
  .report-container {
    margin-top: 10px;
  }
}