.landing-text-container {
  padding-top: 40px;
  text-align: center;
  width: 600px;
  margin: 0px auto;
  font-family: 'Inter', sans-serif;
  position: relative;
  z-index: 99;
}

.landing-text-title {
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  margin-bottom: 15px;
}

.landing-subtext {
  max-width: 500px;
  margin-top: 0px;
  padding-top: 0px;
  margin: 0px auto;
  font-size: 14px;
  color: rgba(24, 44, 69, 1)
}

.landing-dropzone-wrapper {
  margin: 0px auto;
  margin-top: 70px;
  max-width: 700px;
}

.landing-value-props-wrapper {
  margin-top: 100px;
}

.landing-value-props-container {
  margin: 0px auto;
  width: 800px;
  color: rgba(120, 120, 120, 1)
}

.landing-wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  position: relative;
  overflow: hidden;
}

.landing-backdrop {
  height: 80%;
  border-radius: 0px 0px 60% 60%;
  padding-bottom: 10%;
  background: linear-gradient(265.15deg, #FAF7F1 1.86%, #FAF7F1 94.95%);
  position: absolute;
  width: 130%;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.landing-wave {
  width: 100%;
  position: absolute;
  bottom: 15%;
  z-index: 0;
}

.landing-props-title {
  text-align: center;
  color: black;
}

.prop-table {
  margin: 0px auto;
  padding-left: 40px;
}

.landing-props-container {
  position: relative;
  padding-left: 0px;
}

.prop-check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prop-text {
  padding-left: 40px;
  color: rgba(16, 17, 39, 1);
  font-family: Karla;
}

td {
  width: 50%;
}