.landing-text-container {
  padding-top: 40px;
  text-align: center;
  width: 600px;
  margin: 0px auto;
  font-family: 'Inter', sans-serif;
}

.landing-text-title {
  font-weight: 900;
  font-family: 'Inter', sans-serif;
  margin-bottom: 15px;
}

.landing-subtext {
  max-width: 500px;
  margin-top: 0px;
  padding-top: 0px;
  margin: 0px auto;
  font-size: 14px;
  color:rgba(158, 157, 173, 1);
}

.landing-dropzone-wrapper {
  margin: 0px auto;
  margin-top: 70px;
  max-width: 700px;
}

.landing-value-props-wrapper {
  margin-top: 100px;
}

.landing-value-props-container {
  margin: 0px auto;
  width: 550px;
  color: rgba(120, 120, 120, 1)
}

.landing-opt-in-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}