.nav {
  position: relative;
  width: 85%;
  margin: 0px auto;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-icon-container {
  cursor: pointer;
}

.nav-icon {
  position: absolute;
  width: 50px;
  top: 7px;
}

.nav-title {
  padding-left: 59px;
  font-size: 27px;
  margin-top: 7px;
}

.nav-email-signup-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 99;
}

.nav-form-container {
  display: flex;
  align-items: center;
}

.nav-email-input {
  margin-right: 10px;
  height: 34px;
  width: 240px;
  border: none;
  background: rgba(241, 245, 248, 1);
  border-radius: 4px;
  outline: none;
  padding-left: 13px;
  font-size: 14px;
}

.nav-email-btn {
  height: 36px;
  width: 175px;
  font-size: 15px;
  border: none;
  padding-bottom: 5px;
  font-family: Karla;
  font-weight: 700;
}

@media only screen and (max-width: 714px) {
  .nav {
    margin-top: 5px;
  }
  .nav-icon-container {
    margin-top: 12px;
  }
  .nav-icon {
    width: 40px;
    top: 10px;
  }
  .nav-title {
    font-size: 20px;
    padding-left: 44px;
  }
}

@media only screen and (max-width: 641px) {
  .nav-form-container {
    display: none;
  }
}