.nav {
  position: relative;
  width: 85%;
  margin: 0px auto;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-icon-container {
  cursor: pointer;
}

.nav-icon {
  position: absolute;
  width: 50px;
  top: 7px;
}

.nav-title {
  padding-left: 59px;
  font-size: 27px;
  margin-top: 7px;
}

.nav-feedback {
  text-decoration: none;
  transition-duration: 0.3s;
  font-family: Inter;
}

.nav-feedback:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 714px) {
  .nav {
    margin-top: 5px;
  }
  .nav-icon-container {
    margin-top: 12px;
  }
  .nav-icon {
    width: 40px;
    top: 10px;
  }
  .nav-title {
    font-size: 20px;
    padding-left: 44px;
  }
}

@media only screen and (max-width: 641px) {
  .nav-form-container {
    display: none;
  }
}